
{.foo
position: relative;
background: #fff url() 0 0 no-repeat;
}

.foo {
position: relative;
background: #fff url() 0 0 no-repeat;
}
.foo {
position: relative;
background: #fff url() 0 0 no-repeat;
}

.foo {
position: relative;
background: #fff url() 0 0 no-repeat;
}
